asgiref==3.5.2
certifi==2022.5.18.1
charset-normalizer==2.0.12
Deprecated==1.2.13
distro==1.7.0
Django==4.0.5
djangorestframework==3.13.1
idna==3.3
netaddr==0.8.0
Pillow==9.1.1
psycopg2==2.9.3
psycopg2-binary==2.9.3
pytz==2022.1
requests==2.27.1
sqlparse==0.4.2
urllib3==1.26.9
wrapt==1.14.1
yookassa==2.3.1
